name: CI-Windows

on:
  watch:
    types: [started]
  workflow_dispatch:
  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: ls

      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
